# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pynb_checkpoints/
/ingradient-*/
/venv/
/build/
/dist/
/uploads/
/.tmp/
*.egg-info
ingradient.db
*.ipynb
