# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.pynb_checkpoints/
ingradient-*/
venv/
build/
dist/
static/
.tmp/
*.egg-info
ingradient.db
*.ipynb
server/uploads/
plugins/